.wishCart{
    background-color: #e0e0e0;
    width: 100%;
    height: fit-content;
    padding: 3%;
}
.wishCart > img {
    height: 250px;
    width: 200px;
    margin-top: -15%;
    padding-bottom: 2%;
}
.listDesc{
    display: inline-block;
    margin-left: 10%;
    margin-top: 2%;
    /*position: absolute;*/
}
/*.remove{
    margin-top: 25%;
}
.success{
    margin-top: 15%;
    margin-left: 10%;
}*/
.wishtab > tr > td{
    margin-top: 25%;
   }
@media screen and (max-width: 996px){
    .wishCart{
        height:500px;
    }
    .wishCart > img{
        margin-top:20px
    }
}